# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [1]:
import pandas as pd

In [72]:
nba_stats_18_19 = pd.read_csv('nbastats2018-2019.csv', sep = ',')

In [86]:
nba_stats_18_19.keys()

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP', 'TP'],
      dtype='object')

In [63]:
nba_player_avg_age = nba_stats_18_19['Age'].mean()
print(f'2018-19 NBA Average Age:\n   {nba_player_avg_age.round(1)} years old')

2018-19 NBA Average Age:
   25.9 years old

# What player scored the most points?

In [85]:
nba_stats_18_19['TP'] = round(nba_stats_18_19['Points'] * nba_stats_18_19['G'])
top_scoring_players = nba_stats_18_19.sort_values('TP', ascending = False, kind = 'mergesort')

top_scorer = top_scoring_players.head(1)[['Name', 'Team', 'TP', 'Points']]
top_scorer.reset_index(drop = True)

           Name             Team      TP  Points
0  James Harden  Houston Rockets  2816.0    36.1

# What player had the most blocks during the season? Was it a post player (F/C)?

In [25]:
# POSITION doesn't seem to be a column in .csv file so unable to answer that aspect of question,
# but if it was, then would just insert 'POS'(position) when declaring top_shot_blocker variable
# to see the players position listed as well 

nba_stats_18_19['TB'] = round(nba_stats_18_19['Blocks'] * nba_stats_18_19['G'])
top_shot_blockers = nba_stats_18_19.sort_values('TB', ascending = False, kind = 'mergesort')

top_shot_blocker = top_shot_blockers.head(1)[['Name', 'Team', 'TB', 'Blocks']]
top_shot_blocker.reset_index(drop = True)

           Name            Team     TB  Blocks
0  Myles Turner  Indiana Pacers  200.0     2.7

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [34]:
# SUM OF PLAYERS 'WS' OF SEPERATE TEAMS ROUGHLY EQUAL AMOUNT OF GAMES WON BY TEAM FOR SEASON
# ALL TEAMS PLAY SAME AMOUNT OF GAMES, SO HIGHER 'WS' = HIGHER TEAM WIN %

teams_to_beat = nba_stats_18_19.groupby('Team').sum().sort_values('WS', ascending = False, kind = 'mergesort')
teams_to_beat.head()[['WS']]

                         WS
Team
Milwaukee Bucks        63.0
Golden State Warriors  55.9
Utah Jazz              53.6
Toronto Raptors        52.9
Philadelphia 76ers     52.8

# What player had the best 3-pt percentage?

In [35]:
filter_shooters = nba_stats_18_19[(nba_stats_18_19.G >= 45) & (nba_stats_18_19.FG3A >= 3)]

top_3pt_shooters = filter_shooters.sort_values('FG3%', ascending = False, kind = 'mergesort')
top_sharpshooter = top_3pt_shooters.head(1)[['Name', 'Team', 'FG3%', 'FG3A', 'Points']]

top_sharpshooter.reset_index(drop = True)

         Name           Team   FG3%  FG3A  Points
0  Joe Harris  Brooklyn Nets  0.474   5.1    13.7

# Who played the most minutes during the season

In [29]:
nba_stats_18_19['TMP'] = nba_stats_18_19['MP'] * nba_stats_18_19['G']
highest_minutes = nba_stats_18_19.sort_values('TMP', ascending = False, kind = 'mergesort')
most_min_played = highest_minutes.head(1)[['Name', 'Team', 'TMP', 'MP']]
most_min_played.reset_index(drop = True)

           Name                Team     TMP    MP
0  Bradley Beal  Washington Wizards  3025.8  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [64]:
filter_clutch_players = nba_stats_18_19[nba_stats_18_19.G >= 45]

nba_clutch_players = filter_clutch_players.sort_values('PER', ascending = False, kind = 'mergesort')
top_clutch_player = nba_clutch_players.head(1)[['Name', 'Team', 'PER', 'Points', 'Rebounds', 'Assists']]
top_clutch_player.reset_index(drop = True)

                    Name             Team   PER  Points  Rebounds  Assists
0  Giannis Antetokounmpo  Milwaukee Bucks  30.9    27.7      12.5      5.9

# What team had the youngest roster?

In [26]:
youngest_squads = nba_stats_18_19.groupby('Team').mean().sort_values('Age', kind = 'mergesort')
youngest_squads.head()[['Age']].round(2)

                    Age
Team
Chicago Bulls     24.31
Sacramento Kings  24.40
Orlando Magic     24.53
New York Knicks   24.62
Phoenix Suns      24.76

# Who is the highest paid player during the seasion?

In [80]:
#'SALARY' was object data type, first part below was changing it to an integer data type, to be able to sort it correctly

nba_stats_18_19['Salary'] = nba_stats_18_19['Salary'].convert_dtypes()
nba_stats_18_19['Salary'] = pd.to_numeric(nba_stats_18_19['Salary'], errors = 'coerce')
nba_stats_18_19['Salary'] = pd.to_numeric(nba_stats_18_19['Salary'], errors = 'coerce').convert_dtypes()
print(nba_stats_18_19.dtypes)




top_earning_players = nba_stats_18_19.sort_values(by = 'Salary', ascending= False, kind = 'mergesort')
top_earning_player = top_earning_players.head(1)[['Name', 'Team', 'Salary', 'Age']]
top_earning_player.reset_index(drop = True)

            Name                   Team    Salary  Age
0  Stephen Curry  Golden State Warriors  37457154   30

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [83]:
worst_free_throw_shooters = nba_stats_18_19[(nba_stats_18_19.G >= 40) & (nba_stats_18_19.FTA >= 1)].sort_values('FT%', kind = 'mergesort')
worst_ft_shooter = worst_free_throw_shooters.head(1)[['Name', 'Team', 'FT%', 'Points']]
worst_ft_shooter.reset_index(drop = True)

         Name                Team    FT%  Points
0  Lonzo Ball  Los Angeles Lakers  0.417     9.9